<div class="page-header">
  <h1>Editing video</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @video], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_videos_path, class: 'btn btn-default' %>
