<h1>Buna, <%= @user.client.name %></h1>

Pentru a reseta parola acceseaza acest <%= link_to 'link', edit_user_password_reset_url(@user.reset_token, email: @user.email) %>.
<br>
Acest link va expira in o ora.
<br>
Daca nu ai cerut resetarea parolei, poti ignora acest mail.
<br>
Mult noroc!
