<h1>Buna <%= @user.client.name %>,</h1>
Ai realizat o cerere pentru un obiect din cadrul platformei.
<br>
Pentru a vizualiza aceaste cerere poti accesa link-ul <%= link_to "acesta", loans_url %>, .
<br><br>
Mult noroc!
