<div class="page-header">
  <h1>Editing user</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @user], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_users_path, class: 'btn btn-default' %>
