<div class="page-header">
  <h1>Editing coordinate</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @coordinate], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_coordinates_path, class: 'btn btn-default' %>
