<div class="page-header">
  <h1>Editing location</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @location], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_locations_path, class: 'btn btn-default' %>
