<div class="page-header">
  <h1>Editing loan</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @loan], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_loans_path, class: 'btn btn-default' %>
