<div class="page-header">
  <h1>Editing city</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:administrator, @city], class: 'btn btn-default' %>
<%= link_to 'Back', administrator_cities_path, class: 'btn btn-default' %>
