// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-space {
    margin-right: 45px;
}
