<br><br><br><br><br><br><br><br><br>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Ionescu Mihai Cristian, Proiect de Licență, "Sistem de gestionarea al unei biblioteci multimedia"
  </div>
  <!-- Copyright -->

</footer>

</div>
